<!-- <practice></practice> -->
<!-- <app-sergio></app-sergio>-->



<mat-toolbar color="primary">
    <button (click)="isOpened=!isOpened" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{'title' | translate}}</span>

    <!-- кнопка нашего выбора языка начало, ниже продолжение  -->
    <span class="spacer"></span>
    <!--нужнен для смещения нашей иконки вправо -->


    <button mat-icon-button [matMenuTriggerFor]="menu">
        <!-- можно изменить в сооветсвии с требуемой иконкой ее имя в теге mat-icon -->
        <mat-icon>language</mat-icon>
      </button>

</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer [opened]="isOpened" #drawer mode="side">
        <p>Hello!</p>
        <a routerLink="/pathpractice">practice component</a>
        <br>
        <a routerLink="/test">Test component</a>
        <button routerLink="/test">Click</button>
        <a routerLink="/window/part1">Part 1 (lazy)</a>
        <a routerLink="/window/part2">Part 2 (lazy)</a>

    </mat-drawer>

    <!-- routing -->
    <!-- сюда будет грузиться компонент  -->
    <router-outlet></router-outlet>

    <!-- PIPE  Lesson 4 -->
    <p>{{ str | uppercase | slice:2:5 }}</p>
    <p>{{ 'HELLO' | lowercase }}</p>
    <p>{{ 0.124 | percent }}</p>

    <p>{{'i love angular' | testcase }}</p>


    <!-- меню выбора языка нашей странички продолжение  -->
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setLang('en')">     
          <span>English</span>
        </button>

        <button mat-menu-item (click)="setLang('ru')">
          <span>Русский</span>
        </button>

    </mat-menu>


</mat-drawer-container>